@model EcommercePrestige.Application.ViewModel.ProdutoCreateEtapaBasicaModel

@{
    Layout = "_LayoutAdm";
}

    <div class="card shadow mb-4">
        <partial name="ModelStatusPartial" model="@Model.StatusModel" />
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Informações Basicas</h6>
        </div>
        <div class="card-body">
            <form asp-controller="AdminProduto" asp-action="SalvarEtapaProduto" method="post">
                <partial name="InputBasicoPartialView" model="@Model"/>
                <div class="form-group row">
                    <div class="col-md-4">
                        <button class="btn btn-primary"> Proxima Etapa</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


