@{

    Layout = "_LayoutAdm";
}

<div id="app-card" class=col-md-6>
    <div class="card text-center">
      <div class="card-header">
        Aplicativo Android
      </div>
      <div class="card-body">
        <h5 class="card-title">Aplicativo Prestige do Brasil</h5>
        <p class="card-text">Aplicativo para realização de pedidos, exclusivo de uso interno.</p>
        <a href="https://sqlvahthnbvdg3fsr4.blob.core.windows.net/aplicativoblob/prestigeapp_v1.apk" class="btn btn-primary">Download</a>
      </div>
      <div class="card-footer text-muted">
        V1.0.1 - 20/03/2022
      </div>
    </div>
</div>

