@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 col-md-offset-3">
                    <partial name="_StatusMessage" model="Model.StatusMessage" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3 col-md-offset-5">
                    <a class="primary-btn" asp-controller="Home" asp-action="Index">Página Principal</a>
                </div>
            </div>
        </div>
    </div>
</div>