@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-8 col-md-offset-2 alert alert-success control-label">
                    <h5 class="text-uppercase text-center">Enviamos uma mensagem ao seu email com o link para redefinição da senha!</h5>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3 col-md-offset-5">
                    <a class="primary-btn" asp-area="Identity" asp-page="/Account/Login">Retornar ao login</a>
                </div>
            </div>

        </div>
    </div>
</div>

