@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 col-md-offset-3">
                    <partial name="_StatusMessage" model="Model.StatusMessage" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-2 col-md-offset-5" style="text-align: center;">
                    <a class="primary-btn" asp-area="Identity" asp-page="/Account/Login"> Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
