@model EcommercePrestige.Application.ViewModel.CarrinhoViewModel
<a asp-controller="Carrinho" asp-action="Index">
    <div class="header-btns-icon">
        <i class="fa fa-shopping-cart"></i>
        <span class="qty">@Model.QuantidadeTotalItens</span>
    </div>
</a>
